@import "tailwindcss";


.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}
.editortabs-container{
   @apply w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.glassmorphism {
  @apply bg-white/25 backdrop-blur-sm shadow-xl/20 backdrop-blur-sm border border-white/[0.2]
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}
.app {
  /* so this (h-screen) fix the canvas size not taking full screen */
  @apply relative w-full h-screen overflow-hidden;
}