@import "tailwindcss";


.head-text {
  @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-black;
}
.editortabs-container{
  /* the customized list */
   @apply w-full rounded-lg flex flex-col items-center py-8 outline;
}

.glassmorphism {
  @apply bg-white/25 backdrop-blur-sm shadow-xl/20 backdrop-blur-sm border border-white/[0.2]
}

.filtertabs-container {
  @apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}
.app {
  /* so this (h-screen) fix the canvas size not taking full screen */
  @apply relative w-full h-screen overflow-auto;
}

@font-face {
  font-family: 'BrotherSignature';
  src: url('../src/assets/BrotherSignature-7BWnK.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.customlist-text{
  @apply xl:text-[4rem] text-[3rem] text-[#3b3b3b];
  font-family: 'BrotherSignature', cursive;
}
.customlist-h2{
  @apply  m-2
}
.colorGroup{
  @apply text-base font-sans decoration-red-50;
}
.colorSelection{
  @apply appearance-none w-4 h-4 border-2 bg-gray-50 rounded-lg;
}
